@model SampleApp.Models.MediaContent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Media Content</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            @if (Model.ImageData != null)
            {
                // Convert ImageData to a base64 string to display it as an image
                var base64Image = Convert.ToBase64String(Model.ImageData);
                var imageSrc = $"data:image/jpeg;base64,{base64Image}";
                <img src="@imageSrc" alt="Media Image" width="150" />
            }
            else
            {
                <p>No image available</p>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MediaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
